$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?5abc36095700a23f9c8b76f744a5f4d6") format("truetype"),
url("./flaticon.woff?5abc36095700a23f9c8b76f744a5f4d6") format("woff"),
url("./flaticon.woff2?5abc36095700a23f9c8b76f744a5f4d6") format("woff2"),
url("./flaticon.eot?5abc36095700a23f9c8b76f744a5f4d6#iefix") format("embedded-opentype"),
url("./flaticon.svg?5abc36095700a23f9c8b76f744a5f4d6#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "magnifying-glass": "\f101",
    "back": "\f102",
    "next": "\f103",
    "play-arrow": "\f104",
    "play-button": "\f105",
    "chevron": "\f106",
    "up-arrow": "\f107",
    "double-quotes": "\f108",
    "telephone-handle-silhouette": "\f109",
    "add": "\f10a",
    "phone-call": "\f10b",
    "share": "\f10c",
    "user": "\f10d",
    "right-arrow": "\f10e",
    "right-arrow-1": "\f10f",
    "alarm-clock": "\f110",
    "maps-and-flags": "\f111",
    "envelope": "\f112",
    "menu": "\f113",
    "dots-menu": "\f114",
    "dish": "\f115",
    "soap": "\f116",
    "sanitary": "\f117",
    "cleaning-tools": "\f118",
    "left-arrow": "\f119",
    "heart": "\f11a",
    "shopping-cart": "\f11b",
    "shopping-cart-1": "\f11c",
    "eye": "\f11d",
    "mop": "\f11e",
    "household": "\f11f",
    "baby-tub": "\f120",
    "plunger": "\f121",
    "cleaning-brush": "\f122",
    "building": "\f123",
    "clean": "\f124",
    "letterbox": "\f125",
    "worldwide": "\f126",
    "chat": "\f127",
    "quotation": "\f128",
    "washing-machine": "\f129",
    "cleaning": "\f12a",
    "shirt": "\f12b",
    "cleaning-1": "\f12c",
    "broom": "\f12d",
    "window-cleaner": "\f12e",
    "washing-plate": "\f12f",
    "conversation": "\f130",
    "house": "\f131",
    "brush": "\f132",
);

.flaticon-magnifying-glass:before {
    content: map-get($flaticon-map, "magnifying-glass");
}
.flaticon-back:before {
    content: map-get($flaticon-map, "back");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-play-arrow:before {
    content: map-get($flaticon-map, "play-arrow");
}
.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-chevron:before {
    content: map-get($flaticon-map, "chevron");
}
.flaticon-up-arrow:before {
    content: map-get($flaticon-map, "up-arrow");
}
.flaticon-double-quotes:before {
    content: map-get($flaticon-map, "double-quotes");
}
.flaticon-telephone-handle-silhouette:before {
    content: map-get($flaticon-map, "telephone-handle-silhouette");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-share:before {
    content: map-get($flaticon-map, "share");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon-map, "right-arrow-1");
}
.flaticon-alarm-clock:before {
    content: map-get($flaticon-map, "alarm-clock");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon-map, "maps-and-flags");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-dots-menu:before {
    content: map-get($flaticon-map, "dots-menu");
}
.flaticon-dish:before {
    content: map-get($flaticon-map, "dish");
}
.flaticon-soap:before {
    content: map-get($flaticon-map, "soap");
}
.flaticon-sanitary:before {
    content: map-get($flaticon-map, "sanitary");
}
.flaticon-cleaning-tools:before {
    content: map-get($flaticon-map, "cleaning-tools");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon-map, "shopping-cart");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon-map, "shopping-cart-1");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-mop:before {
    content: map-get($flaticon-map, "mop");
}
.flaticon-household:before {
    content: map-get($flaticon-map, "household");
}
.flaticon-baby-tub:before {
    content: map-get($flaticon-map, "baby-tub");
}
.flaticon-plunger:before {
    content: map-get($flaticon-map, "plunger");
}
.flaticon-cleaning-brush:before {
    content: map-get($flaticon-map, "cleaning-brush");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-clean:before {
    content: map-get($flaticon-map, "clean");
}
.flaticon-letterbox:before {
    content: map-get($flaticon-map, "letterbox");
}
.flaticon-worldwide:before {
    content: map-get($flaticon-map, "worldwide");
}
.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-quotation:before {
    content: map-get($flaticon-map, "quotation");
}
.flaticon-washing-machine:before {
    content: map-get($flaticon-map, "washing-machine");
}
.flaticon-cleaning:before {
    content: map-get($flaticon-map, "cleaning");
}
.flaticon-shirt:before {
    content: map-get($flaticon-map, "shirt");
}
.flaticon-cleaning-1:before {
    content: map-get($flaticon-map, "cleaning-1");
}
.flaticon-broom:before {
    content: map-get($flaticon-map, "broom");
}
.flaticon-window-cleaner:before {
    content: map-get($flaticon-map, "window-cleaner");
}
.flaticon-washing-plate:before {
    content: map-get($flaticon-map, "washing-plate");
}
.flaticon-conversation:before {
    content: map-get($flaticon-map, "conversation");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
.flaticon-brush:before {
    content: map-get($flaticon-map, "brush");
}
