
// Placeholder
@mixin placeholder-color($pcolor, $fontStyle) {
    /* -- Placeholder -- */
    &::placeholder {
        color: $pcolor;
        /* Firefox */
        opacity: 1;
        font-style: $fontStyle;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $pcolor;
        font-style: $fontStyle;
    }
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $pcolor;
        font-style: $fontStyle;
    }
}
  
