{% extends 'app.html' %}

{# Page Title #}
{% block title %}Vitax | Blog{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}
<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout2.html' %}
<!--=====================================-->
<!--=        Breadcrumb Area Start      =-->
<!--=====================================-->


<div class="breadcrumb-banner2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading heading-left">            
                    <h2 class="title">Get In Touch</h2>
                </div>
            </div>
             <div class="col-lg-6">
                 <div class="breadcrumb-left">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>|</li>
                    <li>Service Details</li>
                </ul>
            </div>
                <div class="title-border">&nbsp;</div>
             </div>
        </div>
    </div>
 <ul class="list-unstyled shape-group-4">
      <li class="shape shape-1"><img src="assets/media/shape/cline-1.png" alt="Comments"></li>
      <li class="shape shape-2"><img src="assets/media/shape/cline-2.png" alt="Comments"></li>               
  </ul>
</div>
<!--=====================================-->
<!--=        Blog Area Start       	    =-->
<!--=====================================-->
<div class="section-padding-equal">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-grid blog-style-2">
                    <div class="post-thumnbnail">
                        <a href="single-blog.html"><img src="assets/media/blog/blog-11.jpg" alt="Blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top-meta">
                           
                            <div class="post-author">
                                <div class="thumb">
                                    <img src="assets/media/blog/author-2.jpg" alt="author">
                                </div>
                                <div class="content">
                                    <a href="#" class="author-name">by Hetmayar</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="title"><a href="single-blog.html">Dharma Home Suites at Novia offers fully plain
                            furnished apartments.</a></h4>
                             
                        <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                        
                    </div>
                </div>
                <div class="blog-grid blog-style-2">
                    <div class="post-thumnbnail">
                        <a href="blog-video.html"><img src="assets/media/blog/blog-12.jpg" alt="Blog"></a>
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn popup-youtube"><i class="flaticon-play-arrow"></i></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-top-meta">
                            
                            <div class="post-author">
                                <div class="thumb">
                                    <img src="assets/media/blog/author-2.jpg" alt="author">
                                </div>
                                <div class="content">
                                    <a href="#" class="author-name">by Hetmayar</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="title"><a href="blog-video.html">Dharma Home Suites at Novia offers fully plain
                            furnished apartments</a></h4>
                            
                        <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                        
                    </div>
                </div>
                <div class="blog-grid blog-style-2 blog-gallery">
                    <div class="post-thumnbnail slick-activation slick-arrow-default" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "autoplay": true, "autoplaySpeed": 2000}'>
                        <a href="blog-gallery.html"><img src="assets/media/blog/blog-13.jpg" alt="Blog"></a>
                        <a href="blog-gallery.html"><img src="assets/media/blog/blog-12.jpg" alt="Blog"></a>
                        <a href="blog-gallery.html"><img src="assets/media/blog/blog-11.jpg" alt="Blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top-meta">
                            
                            <div class="post-author">
                                <div class="thumb">
                                    <img src="assets/media/blog/author-2.jpg" alt="author">
                                </div>
                                <div class="content">
                                    <a href="#" class="author-name">by Hetmayar</a>
                                </div>
                            </div>
                        </div>
                        <h4 class="title"><a href="blog-gallery.html">Dharma Home Suites at Novia offers fully plain
                            furnished apartments</a></h4>
                            
                        <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                        
                    </div>
                </div>
                <div class="blog-grid blog-style-2 thumbnail-without">
                    <div class="post-thumnbnail">
                        <a href="single-blog.html"><img src="assets/media/blog/blog-14.jpg" alt="Blog"></a>
                    </div>
                    <div class="post-content">
                        <h4 class="title"><a href="single-blog.html">Dharma Home Suites at Novia offers fully plain
                            furnished apartments</a></h4>
                            
                        <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                        
                    </div>
                </div>
                <div class="blog-grid blog-style-2 thumbnail-without">
                    <div class="post-content">
                        <h4 class="title"><a href="single-blog.html">Dharma Home Suites at Novia offers fully plain
                            furnished apartments</a></h4>
                            
                        <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                        
                    </div>
                </div>
                <div class="blog-grid blog-quote">
                    <blockquote>
                        <h4 class="title"><a href="blog-quote.html">Dharma Home Suites at Novia offers
                        fully plain & furnished</a></h4>
                    </blockquote>
                </div>
                {% include 'blog/pagination.html' %}
            </div>
            <div class="col-lg-4">
                {% include 'blog/sidebar-widget.html' %}
            </div>
        </div>
    </div>
</div>
<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
	

{% endblock %}