{% extends 'app.html' %}

{# Page Title #}
{% block title %}Vitax | Home 2{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header onepage-template active-dark-mode" data-bs-spy="scroll" data-bs-target="#onepagenav"{% endblock %}
 

{% block content %}
<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout5.html' %}
<!--=====================================-->

<!--=          Banner Area Start        =-->
<!--=====================================-->
{% include 'sections/banner/hero-banner-5.html' %}
<!--=====================================-->

 <!--=       Services Area Start         =-->
<!--=====================================-->
{% include 'sections/service/service-layout3.html' %}

 <!--=       Services Area Start         =-->
<!--=====================================-->
{% include 'sections/about/about-layout4.html' %}

<!--=        Project Area Start         =-->
<!--=====================================-->
{% include 'sections/project/project-layout6.html' %}

 <!--=       Services Area Start         =-->
<!--=====================================-->
{% include 'sections/call-to-action/call-to-action3.html' %}

<!--=      Estimate Form Area Start     =-->
<!--=====================================-->
{% include 'sections/testimonial/testimonial-layout2.html' %}

<!--=      Estimate Form Area Start     =-->
<!--=====================================-->
{% include 'blog/blog-layout2.html' %}

<!--=      Estimate Form Area Start     =-->
<!--=====================================-->
{% include 'sections/contact/contact-layout1.html' %}

<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
	

{% endblock %}