{% extends 'app.html' %}

{# Page Title #}
{% block title %}Vitax | Home 1{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}

 <!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-welcome.html' %}
<!--=====================================-->

<!--=       welcome Area Start         =-->
<!--=====================================-->
{% include 'welcome/welcome.html' %}  

{% endblock %}