{% extends 'app.html' %}

{# Page Title #}
{% block title %}vitax | Team{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}
<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout2.html' %}
<!--=====================================-->
<!--=        Breadcrumb Area Start      =-->
<!--=====================================-->

<div class="breadcrumb-banner2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading heading-left">            
                    <h2 class="title">Portfolio</h2>
                </div>
            </div>
             <div class="col-lg-6">
                 <div class="breadcrumb-left">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>|</li>
                    <li>Portfolio</li>
                </ul>
            </div>
                <div class="title-border">&nbsp;</div>
             </div>
        </div>
    </div>
 <ul class="list-unstyled shape-group-4">
      <li class="shape shape-1"><img src="assets/media/shape/cline-1.png" alt="Comments"></li>
      <li class="shape shape-2"><img src="assets/media/shape/cline-2.png" alt="Comments"></li>               
  </ul>
</div>
<!--=====================================-->
<!--=           About Area Start       	=-->
<!--=====================================-->
{% include 'sections/team/team-layout1.html' %}
 <!--=====================================-->
{% include 'sections/call-to-action/call-to-action2.html' %}

<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
	

{% endblock %}