{% extends 'app.html' %}

{# Page Title #}
{% block title %}vitax | Typography{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}
<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-back.html' %}
<!--=====================================-->
<!--=        Breadcrumb Area Start      =-->
<!--=====================================-->


<div class="breadcrumb-banner-area">
    <div class="breadcrumb-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-heding heading-left">            
                        <h1 class="title">Portfolio</h1>
                    </div>
                </div>
                 <div class="col-lg-6">
                     <div class="breadcrumb-left">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>|</li>
                        <li>Portfolio</li>
                    </ul>
                </div>
                
                 </div>
            </div>
        </div>
     <ul class="list-unstyled shape-group-4">
          <li class="shape shape-1"><img src="assets/media/shape/cline-1.png" alt="Comments"></li>
          <li class="shape shape-2"><img src="assets/media/shape/cline-2.png" alt="Comments"></li>               
      </ul>
    </div>
</div>
<!--=====================================-->
<!--=        Typography Area Start      =-->
<!--=====================================-->
<div class="section-padding typography-page">
    <div class="container">
        
        <div class="mb--50">
            <h1>Vitax Heading</h1>
            <h2>Vitax Heading</h2>
            <h3>Vitax Heading</h3>
            <h4>Vitax Heading</h4>
            <h5>Vitax Heading</h5>
            <h6>Vitax Heading</h6>
        </div> 
        <h3>Body Font</h3>
        <p class="font-b1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores architecto ex, dolor rem praesentium culpa expedita laudantium facere magni corporis quas excepturi labore, maxime consequuntur modi tempore odio illo blanditiis!</p>
        <p class="font-b2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores architecto ex, dolor rem praesentium culpa expedita laudantium facere magni corporis quas excepturi labore, maxime consequuntur modi tempore odio illo blanditiis!</p>
        <div class="row">
            <div class="col-lg-6">
                <h4>Unordered Style</h4>
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h4>Ordered Style</h4>
                <ol>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ol>
            </div>
        </div>  
    </div>
</div>
<!--=====================================-->
<!--=        Footer Area Start          =-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
	

{% endblock %}